# oMLX - LLM
OPENAI_API_KEY=2486
BASE_URL=http://host.docker.internal:8000
CHAT_MODEL=Qwen3.5-9B-MLX-4bit

# oMXL - EMBEDDING MODEL 
EMBEDDING_BASE_URL=http://host.docker.internal:8000
EMBEDDING_API_KEY=2486
EMBEDDING_DIMENSIONS=1024
EMBEDDING_MODEL=bge-m3-mlx-fp16
